.table_basic img { max-width:800px;}

.helpbox { border:1px solid #ccc; padding:10px; margin-bottom:20px;}
.helpbox p { padding:5px;}
.arrange li { border:1px solid #ccc; padding:5px; margin-bottom:5px;}